

.navbar {
    background-color: black; 
}

.navbar-nav .nav-link {
    color: white !important; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}

.dropdown-menu-dark {
    background-color: #000000;
    color: #ffffff;
  }

  .dropdown-menu-dark .dropdown-item {
    color: #ffffff;
  }

  .dropdown-menu-dark .dropdown-item:hover {
    background-color: #ffc107;
    color: #000000; 
  }
