<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="max-width: 500px; width: 100%;">
    <h3 class="card-title text-center mb-4">Olvidaste tu Password</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="changePasswordForm.get('email')?.invalid && (changePasswordForm.get('email')?.dirty || changePasswordForm.get('email')?.touched)"
             class="text-danger">
          <div *ngIf="changePasswordForm.get('email')?.hasError('required')">
            El correo electrónico es requerido
          </div>
          <div *ngIf="changePasswordForm.get('email')?.hasError('email')">
            Debe ingresar un correo electrónico válido
          </div>
        </div>
        <div *ngIf="correoNoRegistrado" class="text-danger">
          El correo electrónico no está registrado
        </div>
        <div *ngIf="correoEnviadoContrasena" class="text-success">
          La nueva contraseña ha sido enviada a su correo electrónico
        </div>
      </div>
      <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-warning text-white">Solicitar</button>
      </div>
    </form>
  </div>
</div>