<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="max-width: 500px; width: 100%;">
    <h3 class="card-title text-center mb-4">Iniciar Sesión</h3>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="formLogin.get('email')?.hasError('required')" class="text-danger">
          El correo electrónico es requerido
        </div>
        <div *ngIf="formLogin.get('email')?.hasError('email') && !formLogin.get('email')?.hasError('required')" class="text-danger">
          Proporcione un correo electrónico válido
        </div>
        <div *ngIf="correoNoRegistrado" class="text-danger">
          El correo electrónico no está registrado
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="formLogin.get('password')?.hasError('required')" class="text-danger">
          La contraseña es requerida
        </div>
        <div *ngIf="mensajeError" class="text-danger">
          {{ mensajeError }}
        </div>
      </div>
      <div class="mb-3">
        <a href="change-password" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-warning text-white">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</div>