<!-- Toast container -->
<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="toast-body">
          Producto agregado al carrito.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5" *ngIf="product">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <img class="card-img-top" src="{{ product.thumbnailUrl }}" alt="{{ product.title }}">
          <div class="card-body">
            <h2 class="card-title">{{ product.title }}</h2>
            <p class="card-text"><strong>Descripción:</strong> {{ product.descripcion }}</p>
            <p class="card-text"><strong>Precio:</strong>  <span class="text-danger fw-bold ms-2"> Precio {{ product.precio | currency:'':'symbol':'1.0-0' }}</span></p>
            <div class="button-container">
                <button class="btn btn-sm  btn-warning text-white" (click)="addToCart(product)">Agregar al carrito</button>
                <a href="/home" class="btn btn-sm btn-outline-secondary">Volver</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

